body  {
    font-family:Arial, Helvetica, sans-serif ;
    background-color:#e8e8be;
}


.navegacion {
    display: flex;
    background-color: #58bcd1;
    height: 50px;
    border-radius: 15px;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.encabezado {
    font-size: 50px;
    margin: 30px;
    text-align: center;
}

.nav-h4 {
    border: medium #e8e8be solid;
    border-radius: 15px;
    padding: 8px;
    margin: 8px;
}