body  {
    font-family:Arial, Helvetica, sans-serif ;
    background-color:#e8e8be;}


.navegacion {
    background-color: #58bcd1;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.encabezado {
    font-size: 50px;
    margin: 30px;
    text-align: center;
}

.nav-h4 {
    margin: auto;
}